.homeContainer{
       background-color: rgb(59, 51, 51);
       /* height: 79vh; */
}
.homeContainer hr{

     height: 10px;
     background-color: rgb(130, 119, 119);
     margin: 0px;
     border: none;
     
}

.highlight{
    margin-left: 80px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    border-bottom: 3px solid white;
}
.dataBigConatainer{
     
     display: grid;
     /* grid-template-columns: 1fr 1fr 1fr 1fr; */
     grid-template-columns: repeat(auto-fit, 320px);
     justify-content: center;
     row-gap: 15px;
     margin-top: 50px;
     padding-bottom: 100px;
      column-gap: 30px;
  }
  .dataBigConatainer>* {
   
    height: 380px;
  }

.dataContainer img{
    height: 380px;
    width: 320px;
    border-radius: 7px;
}


  
  
 