
.container{
   
   height: 150px;
   width: 100%;
   background-color: rgb(51, 51, 51);
 

}

.iconContainer{

   display: flex;
    justify-content: center;
    gap: 10px;
   margin-left: 100px;
   margin-right: 100px;
}

.singleIconDiv{

   border:  0.5px solid rgb(33, 33, 32);
    border-radius:  50%;
    padding: 65px;
    margin-top: 8px;
}